<template lang="">
  <div class="card">
    <p>privet</p>
    <img class="delete-button" src="@/assets/delete.png" alt=""/>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'CardComponent',
  components: {
  
  }
});
</script>
<style lang="scss">
  .card {
    border-bottom: 1px solid green;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .delete-button {
    width: 20px;
    height: 20px;
  }
</style>