<template lang="">
  <div class="column">
    <div @dblclick="editTitle" class="column__head">
      <p class="column__head-text">in-progress</p>
      <img class="delete-button" src="@/assets/delete.png" alt=""/>
    </div>
    <div class="column__card-list">
      <card-item>privet</card-item>
      <card-item>privet</card-item>
      <card-item>privet</card-item>
      <card-item>privet</card-item>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import CardItem from '@/components/CardItem.vue'

export default defineComponent({
  name: 'ColumnComponent',
  components: {
    CardItem
  },

  methods: {
    editTitle() {
      console.log('privet')
    }
  }
})

</script>
<style lang="scss">
.column {
  width: 100%;
  max-width: 200px;
  border: 1px solid aqua;
}

.column__head {
  background-color: gray;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__head-text {
  text-align: center;
  color: white;
}

.column__card-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  :last-child {
    border: none;
  }
}

.delete-button {
  width: 20px;
  height: 20px;
}
</style>