<template lang="">
  <div class="header__container">
    <ul class="header__list">
      <li>main</li>
      <li>about</li>
      <li>profile</li>
    </ul>
  </div>
</template>
<script>
import { defineComponent} from 'vue';

export default defineComponent({
  
})
</script>
<style lang="scss">
  .header__container{
    width: 100%;
    padding: 10px 30px;
    background-color: aqua;
  }
  .header__list {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
  }
</style>