<template lang="">
  <div class="main__column-list">
    <column-item></column-item>
    <column-item></column-item>
    <column-item></column-item>
    <column-item></column-item>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import ColumnItem from '@/components/ColumnItem.vue'

export default defineComponent({
  name: 'MainBlock',
  components: {
    ColumnItem,
  }
});
</script>
<style lang="scss">
.main__column-list {
  display: flex;
  gap: 50px;
  overflow-y: auto;
  padding: 30px;
}
</style>