<template>
  <header-block></header-block>
  <main-block></main-block>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import MainBlock from '@/components/MainBlock.vue'
import HeaderBlock from '@/components/HeaderBlock.vue'

export default defineComponent({
  name: 'App',
  components: {
    MainBlock,
    HeaderBlock,
  }
});
</script>

<style lang="scss">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
